In [1]:
import pandas as pd
import os
import glob

In [2]:
folder_path = "./Raw Historical Data"

In [3]:
all_files = glob.glob(os.path.join(folder_path, "*.csv"))

df_list = []

In [4]:
for file in all_files:
    # read each csv
    df = pd.read_csv(file)

    # get filename without extension
    file_name = os.path.splitext(os.path.basename(file))[0]

    # add filename column
    df["ticker"] = file_name

    df_list.append(df)

In [5]:
# merge everything into one big DataFrame
merged_df = pd.concat(df_list, ignore_index=True)

In [6]:
# rename columns
merged_df = merged_df.rename(columns={"Close/Last": "close", "Date": "date"})
# remove columns
merged_df = merged_df.drop(columns=["Volume", "Open", "High", "Low"])
# reorder columns
merged_df = merged_df[["ticker", "date", "close"]]

In [7]:
merged_df.head()

  ticker        date    close
0   AAPL  09/08/2025  $237.88
1   AAPL  09/05/2025  $239.69
2   AAPL  09/04/2025  $239.78
3   AAPL  09/03/2025  $238.47
4   AAPL  09/02/2025  $229.72

In [8]:
# save DataFrame to csv
merged_df.to_csv("prices.csv", index=False)